<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="@Resources.Res.Keywords">
    <meta name="description" content="@Resources.Res.Description">
    <meta property="og:site_name" content="@Resources.Res.System_FrontName" />
    @if (ViewBag.customShareInfo)
    {
        <meta property="og:url" content="@ViewBag.ogUrl"/>
        <meta property="og:title" content="@ViewBag.ogTitle" />
        <meta property="og:description" content="@ViewBag.ogDescription" />
        @* <meta property="og:image" content="@ViewBag.ogImgUrl" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="315" /> *@
    }
    else
    {
        <meta property="og:title" content="@ViewBag.Title2 | @ViewBag.Title | @Resources.Res.System_FrontName" />
        <meta property="og:description" content="@Resources.Res.Description" />
    }
    <title>@ViewBag.Title2 | @ViewBag.Title | @Resources.Res.System_FrontName</title>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,300italic,600italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/vendor/themify-icons.css" rel="stylesheet">
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">

            <div class="wrap">

                <button class="navbar-toggler btn btn-primary hidden-lg-up"><i class="ti-menu"></i> MENU</button>

                <div class="logo"><a href="~/Index" title="回首頁"><img src="~/Content/images/logo.png" alt="@Resources.Res.System_FrontName"></a></div>

                <h1 class="h1">
                    <a href="~/Index" title="回首頁">
                        @Resources.Res.System_FrontName
                        <small>Taiwan U-Link Association</small>
                    </a>
                </h1>

                <h2 class="slogan">聚集優質靈感的人，向社會傳達正向的能量與聲音</h2>

                <ul class="topNav list-inline">
                    <li><a href="~/Index"><i class="ti-home"></i><span class="sr-only">回首頁</span></a></li>
                    <li><a href="https://www.facebook.com/1738917516328579/" target="new"><i class="ti-facebook"></i><span class="sr-only">台灣優靈客協會 官方 Facebook 專頁</span></a></li>
                    @* <li><a href="" target="new"><i class="ti-twitter-alt"></i><span class="sr-only">Twitter</span></a></li>
                    <li><a href="" target="new"><i class="ti-google"></i><span class="sr-only">Google+</span></a></li> *@
                </ul>

                @* <button class="search-toggler btn btn-link hidden-md-up collapsed" data-toggle="collapse" data-target="#search">
                        <i class="ti-close"></i>
                    </button> *@

                @* <form id="search" action="" class="search form-inline collapse navbar-toggleable-sm">
                    <div class="collapse-wrap">
                        <div class="form-group">
                            <input type="text" class="form-control">
                            <button class="btn btn-link"><i class="ti-search"></i></button>

                            <i class="ti-search"></i>
                            <script>
                                (function() {
                                    var cx = '015136155163926618093:qz-ngu50exs';
                                    var gcse = document.createElement('script');
                                    gcse.type = 'text/javascript';
                                    gcse.async = true;
                                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(gcse, s);
                                })();
                            </script>
                            <gcse:search></gcse:search>
                        </div>
                    </div>
                    </form> *@

            </div><!-- wrap //-->

            <nav id="menu" class="navbar">
                <div class="wrap">
                    <h2 class="sr-only">主選單</h2>
                    <button class="close hidden-lg-up"><i class="ti-close"></i></button>
                    <ul class="nav navbar-nav">
                        <li><a href="~/Topic/List">主題活動</a></li>
                        <li><a href="~/Articles/List">精選文章</a></li>
                        <li>
                            <a href="~/Events">活動參與</a>
                            <ul class="sidebar list-inline text-xs-center">
                                <li><a href="~/Events">活動預告</a></li>
                                <li><a href="~/Events/p2">活動回顧</a></li>
                                <li><a href="~/Events/p3">加入我們</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/AboutUs">協會簡介</a>
                            <ul class="sidebar list-inline text-xs-center">
                                <li><a href="~/ABoutUs">理念說明</a></li>
                                <li><a href="~/ABoutUs/p2">團隊介紹</a></li>
                            </ul>
                        </li>
                        <li><a href="~/ContactUs">聯絡我們</a></li>
                        <li><a href="~/News/List">最新消息</a></li>
                    </ul>
                </div><!-- wrap //-->
            </nav>

        </header><!-- header //-->

        <main id="main">
            @RenderBody()
        </main>

    </div><!-- wrapper //-->

    <footer id="footer">
        <div class="wrap">

            <h1 class="logo"><a href="~/Index" title="回首頁">@Resources.Res.System_FrontName</a></h1>

            <article class="about">
                <h2 class="h2">關於優靈客</h2>
                <p>優靈客是由一群摯愛台灣的熱情份子所組成，發起人來自各專業領域。本協會藉由連結國內外青年，以推展文化藝術、全民體育、觀光旅遊、創新創業及健康促進為主要目標，並建立青年積極正向、樂觀進取的人生觀與價值觀，培養新生代青年菁英。</p>
            </article>

            <ul class="menu list-unstyled">
                <li><a href="~/Topic/List">主題活動</a></li>
                <li><a href="~/Articles/List">精選文章</a></li>
                <li>
                    <a href="~/Events">活動參與</a>
                    @* <ul class="submenu list-inline">
                        <li><a href="~/Events">活動預告</a></li>
                        <li><a href="~/Events/p2">活動回顧</a></li>
                        <li><a href="~/Events/p3">加入我們</a></li>
                    </ul> *@
                </li>
                <li>
                    <a href="~/AboutUs">協會簡介</a>
                    @* <ul class="submenu list-inline">
                        <li><a href="~/AboutUs">理念說明</a></li>
                        <li><a href="~/AboutUs/p2">團隊介紹</a></li>
                    </ul> *@
                </li>
                <li><a href="~/ContactUs">聯絡我們</a></li>
                <li><a href="~/News/List">最新消息</a></li>
            </ul>

            <ul class="social list-inline text-xs-center">
                <li class="qr"><img src="~/Content/images/qr.png" alt=""></li>
                <li><a href="~/Index"><i class="ti-home"></i><span class="sr-only">回首頁</span></a></li>
                <li><a href="https://www.facebook.com/1738917516328579/" target="new"><i class="ti-facebook"></i><span class="sr-only">台灣優靈客協會 官方 Facebook 專頁</span></a></li>
                @* <li><a href="" target="new"><i class="ti-twitter-alt"></i><span class="sr-only">Twitter</span></a></li>
                <li><a href="" target="new"><i class="ti-google"></i><span class="sr-only">Google+</span></a></li> *@
            </ul>

            <div class="copyright">Taiwan U-Link Association &copy; 2016</div>

            <a href="#header" class="goTop scroll"><i class="ti-angle-up"></i></a>
        </div>
    </footer><!-- footer -->

    <script src="~/Scripts/cdn/jquery.min.js"></script>
    <script type="text/javascript">
        // 回頂端
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.goTop').fadeIn();
            } else {
                $('.goTop').fadeOut();
            }
        });
        $('.scroll').click(function (event) {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - 50
            }, 1000);
            event.preventDefault();
        });
        $('.navbar-toggler').click(function (event) {
            $('#menu').fadeIn();
            $("body").addClass("toggled");
            event.preventDefault();
        });
        $('#menu .close').click(function (event) {
            $('#menu').fadeOut();
            $("body").removeClass("toggled");
            event.preventDefault();
        });

    </script>
    <script src="~/Content/js/bootstrap/util.js"></script>
    @* <script src="~/Content/js/bootstrap/collapse.js"></script> *@
    @RenderSection("Scripts", required: false)

</body>
</html>